@charset "UTF-8";


/* testBoxへのスタイル */
.leftBox{
    background-color: aquamarine;
    width: calc(70% - 40px);
}
.leftBox iframe{

}
.rightBox{
    background-color: cadetblue;
    width: calc(30% - 40px);
}
.testBox{
    display: flex;
}
.testBox div{
    padding: 15px;
    border: solid gray 20px;
    border-radius: 10px;
    margin: 20px;
    height: 50vh;
    box-sizing: border-box;
}